{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href={% static 'common/css/output.css' %} />

<h1 class="text-blue-600">Upload your paper</h1>
<form
  action="{% url 'paper2slide:index' %}"
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" />
</form>

<div class="flex flex-col items-center justify-center">
  <form
    action="#"
    method="post"
    enctype="multipart/form-data"
    class="bg-white p-6 rounded-lg shadow-md"
  >
    <label for="file" class="text-gray-700 font-medium mb-2"
      >Choose a PDF file to upload:</label
    >
    <input
      type="file"
      name="file"
      id="file"
      class="border border-gray-400 p-2 mb-4"
      accept=".pdf"
    />
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Upload File
    </button>
  </form>
</div>

{% endblock %}
