{% extends 'main/base.html' %}

{% load static %}

{% block content %}

{{ file|json_script:"filename" }}
<body class="bg-gray-100">
    <div class="flex h-screen items-center justify-center">
      <div class="bg-white p-8 rounded shadow-lg" style="background: #FAFBFC;">
        <h2 class="text-2xl mb-4">문서를 요약중입니다...</h2>
        <img src="{% static 'common/image/loading.gif' %}" class="mx-auto my-5">
        <p class="text-gray-600 mt-4">10분 정도 소요됩니다. 작업이 완료될때까지 이 창을 닫지 마세요.</p>
      </div>
    </div>
  </body>

<script>
const filename = JSON.parse(document.getElementById('filename').textContent);

const ws = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/process-pdf/'
    + filename
    + '/'
);

ws.onmessage = function(e) {
    alert('완료되었습니다!');
    window.location.pathname = '/p2s/step-2/' + e.data;
};

ws.onopen = function() {
    console.log("ws sending...")
    ws.send(JSON.stringify({
        'filename': filename
    }));
    console.log("ws sent")
}

</script>
{% endblock content %}