{{ file|json_script:"filename" }}

<p>문서를 요약중 입니다...</p>

<script>
const filename = JSON.parse(document.getElementById('filename').textContent);

const ws = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/process-pdf/'
    + filename
    + '/'
);

ws.onmessage = function(e) {
    alert('완료되었습니다!');
    window.location.pathname = '/p2s/step-2/' + e.data;
};

ws.onopen = function() {
    console.log("ws sending...")
    ws.send(JSON.stringify({
        'filename': filename
    }));
    console.log("ws sent")
}

</script>
