{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<div class="container mx-auto my-10 flex justify-center space-x-10 items-center">
  <div class="flex flex-col items-center">
    <div class="w-12 h-12 flex justify-center items-center rounded-full bg-teal-500 text-white">
      <span class="text-lg font-bold">1</span>
    </div>
    <span class="text-sm mt-2">논문 업로드</span>
  </div>
  <div class="relative flex-grow">
    <hr class="absolute w-full border-teal-500 top-6">
  </div>
  <div class="flex flex-col items-center">
    <div class="w-12 h-12 flex justify-center items-center rounded-full bg-teal-500 text-white">
      <span class="text-lg font-bold">2</span>
    </div>
    <span class="text-sm mt-2">템플릿 선택</span>
  </div>
  <div class="relative flex-grow">
    <hr class="absolute w-full border-teal-500 top-6">
  </div>
  <div class="flex flex-col items-center">
    <div class="w-12 h-12 flex justify-center items-center rounded-full bg-teal-500 text-white">
      <span class="text-lg font-bold">3</span>
    </div>
    <span class="text-sm mt-2">옵션 조정</span>
  </div>
  <div class="relative flex-grow">
    <hr class="absolute w-full border-teal-500 top-6">
  </div>
  <div class="flex flex-col items-center">
    <div class="w-12 h-12 flex justify-center items-center rounded-full bg-teal-500 text-white">
      <span class="text-lg font-bold">4</span>
    </div>
    <span class="text-sm mt-2">다운로드</span>
  </div>
</div>

<div class="container mx-auto flex flex-col bg-slate-50 rounded-lg shadow-md p-10 mb-10">
  <h1 class="text-2xl font-bold">다운로드</h1>
  <div class="flex flex-col my-5">
    <p>슬라이드 제작이 완료되었습니다!</p>
    <p>아래 버튼을 통해 다운로드하세요.</p>
    <form action="{{ download_link }}" method="GET" class="flex flex-row mt-10">
        {% csrf_token %}
        <input type="submit" value="다운로드" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        <button class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mx-5 rounded"
                onclick="location.href='{% url 'paper2slide:index' %}'; return false;">처음으로</button>
    </form>
  </div>
</div>
{% endblock content %}