{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<!-- Stepper -->
<div class="container mx-auto my-10 flex justify-center space-x-10 items-center">
  <div class="flex flex-col items-center">
    <div class="w-12 h-12 flex justify-center items-center rounded-full bg-teal-500 text-white">
      <span class="text-lg font-bold">1</span>
    </div>
    <span class="text-sm mt-2">논문 업로드</span>
  </div>
  <div class="relative flex-grow">
    <hr class="absolute w-full border-teal-500 top-6">
  </div>
  <div class="flex flex-col items-center">
    <div class="w-12 h-12 flex justify-center items-center rounded-full bg-teal-500 text-white">
      <span class="text-lg font-bold">2</span>
    </div>
    <span class="text-sm mt-2">템플릿 선택</span>
  </div>
  <div class="relative flex-grow">
    <hr class="absolute w-full border-teal-500 top-6">
  </div>
  <div class="flex flex-col items-center">
    <div class="w-12 h-12 flex justify-center items-center rounded-full bg-teal-500 text-white">
      <span class="text-lg font-bold">3</span>
    </div>
    <span class="text-sm mt-2">옵션 조정</span>
  </div>
  <div class="relative flex-grow">
    <hr class="absolute w-full border-teal-500 top-6">
  </div>
  <div class="flex flex-col items-center">
    <div class="w-12 h-12 flex justify-center items-center rounded-full bg-gray-300">
      <span class="text-lg font-bold">4</span>
    </div>
    <span class="text-sm mt-2">다운로드</span>
  </div>
</div>

<div class="container mx-auto flex flex-col bg-slate-50 rounded-lg shadow-md p-10 mb-10">
  <h1 class="text-2xl font-bold">옵션 조정</h1>
  <div class="flex flex-row justify-between my-5 items-center">
    <p>미리보기를 통해 슬라이드 옵션을 조정하세요.</p>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">완료</button>
  </div>
  <iframe src="{% get_media_prefix %}{{ pdf_file_name }}" height="800px" class="mb-4"></iframe>
  <form action="" method="post" class="bg-gray-200 rounded p-4">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-4">
      <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
        {{ field.label }}
      </label>
      {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">다시 생성</button>
  </form>
</div>
{% endblock content %}