{% extends "main/base.html" %}

{% load static %}

{% block content %}

<!-- Hero section -->
<section class="bg-gray-800 py-20">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/2">
      <h1 class="text-5xl font-bold text-white">
        Welcome to PaperMate<sup class="text-teal-500">ai</sup>
      </h1>
      <p class="text-xl text-gray-400 mt-4">
        논문 발표 슬라이드를 쉽고 빠르게 만들어보세요!
      </p>
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full mt-8"
        onclick="location.href='{% url 'paper2slide:index' %}'"
      >
        시작하기
      </button>
    </div>
    <div class="w-1/2">
      <!--<img src="https://via.placeholder.com/600x400" alt="Hero image" />-->
      <img src="{% static 'main/image/hero-image.jpg' %}" width="600" class="rounded-lg drop-shadow-lg" alt="Hero image" />
    </div>
  </div>
</section>

<!-- Other content -->
<div class="container mx-auto py-8">
  <h2 class="text-2xl font-bold mb-4">발표 슬라이드 제작 AI</h2>
  <p>
    PaperMate는 논문 작성 후 발표 자료 제작을 돕는 AI 웹서비스 입니다.
  </p>
</div>
<div class="container mx-auto py-8">
  <h2 class="text-2xl font-bold mb-4">PDF 파일만 업로드</h2>
  <p>
    완성된 논문 PDF 파일을 업로드하면 편집 가능한 발표 슬라이드 초안을 손쉽게 제작해줍니다.
  </p>
</div>
<div class="container mx-auto py-8">
  <h2 class="text-2xl font-bold mb-4">다양한 템플릿</h2>
  <p>
    여러 PPT 템플릿을 제공하며 직접 원하는 템플릿을 업로드 할 수도 있습니다.
  </p>
</div>
{% endblock %}
